/***************************** 
 Ink Overrides 
******************************/

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

header>hr {
    clear: both;
    top: -1em;
    position: relative;
}

.ink-grid {
    max-width: none !important;
}

.column-left {
    padding-left: 2em;
}

.column-left:nth-of-type(1) {
    padding-left: 0em;
}

.pagination {
    padding-left: 1em !important;
}

.sapo_component_datepicker {
    z-index: 9999999;
}

.ink-button[disabled], .ink-button .ink-disabled {
    color: #A0A0A0 ! important;
}

.ink-table>tbody>tr:hover {
    cursor: auto ! important;
}

.ink-table>tbody>tr>td>a {
    display: block;
}

.ink-form label {
    cursor: auto ! important;
}

input[type="checkbox"] {
    width: auto !important;
}

/***************************** 
 Custom syles 
******************************/

#appContainer {
}

.menu-title {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0.4em 0;
    left: 2em;
    right: 2em;
}

label {
    font-weight: bold;
}

.no-padding {
    padding: 0px ! important;
}


#mainMenu {
    margin-bottom: 1em;
    background-color: #d9d9d9;
    padding: 1px 1px 0px 1px;
    border-radius: 5px 5px 5px 5px;
}

.nospace {
    margin-top: -0.2em;
    margin-left: -0.4em;
    padding: 0;
    border: 0;
}

.sortable-header:hover {
    background-color: #EAEAEA;
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer>.ink-navigation>ul>li>a {
	display: block ! important;
	text-align: center;
}

#mainMenuContainer {
    height:0px;
    overflow: visible;
}

#mainMenuContainer>ul {
    position: absolute;
    left: 0px; 
    right: 0px;
    margin-top: -1.5em;
    z-index: 10000;
}

.scroll-area {
	position: absolute;
	left: 0.9em;
	top: 4em;
	right: 0.9em;
	bottom: 3em;
	overflow-y: auto;
}

#splashScreen {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99999;
	background-color: white;
	background-image: url('/static/content/assets/splash.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#homeScreen {
	position: absolute;
	left: 0px;
	top: 3em;
	right: 0px;
	bottom: 0px;
	background-color: white;
	background-image: url('/static/content/assets/start-back.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#homeScreen>.menu-container {
	position: absolute;
	width: 1px;
	height: 1px;
	oveflow: visible;
	top: 50%;
	left: 50%;
}

#homeScreen>.menu-container>.ink-navigation {
	width: 10em;
	margin-left: -5em;
	margin-top: -5em;
}


#gameScreen {
	position: absolute;
	left: 0px;
	top: 3em;
	right: 0px;
	bottom: 0px;
	background-color: white;
}

#dice {
}

#dice>img {
}

#boardGrid>.cell {
	position: relative;
	float: left;
	width: 3em;
	height: 2.5em;
	margin: 0.25em;
	background-color: white;
	border: 1px solid gray;
}

#boardGrid {
	float: left;
	width:  21em;
	height: 24em;
	position: relative;
}

#boardGrid .player-container {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow: visible;
}

#boardGrid .player-container>img {
	position: absolute;
	max-width: none;
	max-height: none;
	width: 1.8em;
	margin-left: 1.2em;
	margin-bottom: 0.5em;
	z-index: 99;
	-webkit-transition: left 1s, bottom 1s;
	transition: left 1s, bottom 1s;	
}

#gamePanel {
	float: left;
	margin-left: 1em;
}

.snake-container, .ladder-container {
	position: absolute;
	overflow: visible;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0.5em;
}

#boardGrid .snake-container>img {
	position: absolute;
	top: 0.8em;
	display: block;
	max-height: none;
	max-width: none;
	z-index: 99;
}

#boardGrid .ladder-container>img {
	position: absolute;
	bottom: 0.5em;
	display: block;
	max-height: none;
	max-width: none;
	z-index: 99;
}

.snake-container>img {
	margin-left: 30%;
	width: 1em;	
}

.ladder-container>img {
	margin-left: 15%;
	width: 2em;	
}

#playerPanel>* {
	display: block;
	margin-bottom: 1em;
}

#dicePanel {
	margin-top: 1em;	
}

#dicePanel>* {
	display: block;
}

#dicePanel>.dice {
}

.draw-button {
	cursor: pointer;	
}

/*****************************
 HTML 5 Hacks
*****************************/

/* Disable spin buttons no webkkit */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-spin-btn-container {
    display: none;
}

/*****************************
 Media Queries
*****************************/

/* LARGE SCREENS */
@media screen and (min-width: 1371px) {
}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 1370px) {
}

/* SMALL SCREENS */
@media screen and (max-width: 400px) {
	#gamePanel {
		clear: both;
		float: none;
		padding-top: 0.5em;
	}

	#dicePanel {
		margin-top: -0.8em;
		float: right;
		margin-right: 1em;
	}

	#playerPanel {
		display: block;
	}

	#playerPanel>* {
		float: left;
		margin-right: 1em;
	}
}